{extend name="layout" /}
{block name="content"}
{if empty($addresses)}
<div class="empty"><div class="e-ico">📍</div><div>{:lang('还没有收货地址')}</div></div>
{else}
{foreach $addresses as $a}
<div class="addr-item">
    <div class="a-row1">
        <span class="a-name">{$a.name}</span>
        <span class="a-mobile">{$a.mobile}</span>
        {if $a.is_default==1}<span class="a-default">{:lang('默认')}</span>{/if}
    </div>
    <div class="a-addr">{$a.province} {$a.city} {$a.district} {$a.address}</div>
    <div class="a-ops">
        <a href="javascript:void(0)" onclick="setDefault({$a.id})">{:lang('设为默认')}</a>
        <a href="/user/address_edit?id={$a.id}">{:lang('编辑')}</a>
        <a class="red" href="javascript:void(0)" onclick="delAddr({$a.id})">{:lang('删除')}</a>
    </div>
</div>
{/foreach}
{/if}
<div class="add-addr-btn">
    <a class="btn btn-red" href="/user/address_edit">+ {:lang('添加新地址')}</a>
</div>
{/block}
{block name="script"}
<script>
function delAddr(id) {
    confirmBox('确定删除该地址吗？', '删除地址', function(){
        ajaxPost('/user/address', {act: 'delete', id: id}, function(res){
            toast(res.msg);
            if (res.code === 1) setTimeout(function(){ location.reload(); }, 600);
        });
    });
}
function setDefault(id) {
    ajaxPost('/user/address', {act: 'save', id: id, name: '', mobile: '', address: '', is_default: 1, province: '', city: '', district: ''}, function(res){
        if (res.code === 1) { toast('已设为默认地址'); setTimeout(function(){ location.reload(); }, 600); }
        else toast(res.msg);
    });
}
</script>
{/block}
