{extend name="layout" /}
{block name="content"}
<div class="bid-list">
    <div class="b-head">{:lang('我的出价记录')}</div>
    {foreach $list as $b}
    <a class="bid-row{if $b.below_reserve} has-note{/if}" href="/goods/detail?id={$b.goods_id}">
        <div class="b-main">
            <span class="b-user">{$b.title}</span>
            <span class="b-price">¥{$b.price|number_format=2}</span>
            {if $b.goods_failed}<span class="fail-tag">{:lang('流拍')}</span>{elseif $b.is_lead}<span class="lead-tag">{:lang('领先')}</span>{else}<span class="out-tag">{:lang('出局')}</span>{/if}
            <span class="b-time">{$b.create_time|date='m-d H:i'}</span>
        </div>
        {if $b.below_reserve}<div class="b-note">{:lang('尚未达到卖家预期价格')}</div>{/if}
    </a>
    {/foreach}
    {if empty($list)}
    <div class="empty" style="padding:60px 0;">
        <div class="e-ico">🔨</div>
        <div>{:lang('暂无出价记录')}</div>
        <a class="e-btn" href="/">{:lang('去逛逛')}</a>
    </div>
    {/if}
</div>
{/block}